html {
	height: 100%;
}

body {
	background-color: #f44336;
	min-height: 100%;
}

* {
	font-family:'Roboto';
}

nav .nav-wrapper a img {
	border-style: solid;
	border-width: 3px;	
	border-color: #263238;
	margin-left: 2px; 
}

nav .nav-wrapper {

}

.card {
	height: 600px;
}

.card img {
	width: 400px;
	height: 400px;
}

section .container {
	padding: 2%;
	margin-top: 5%;
	background-color: none;
}

section .container .container {
	background-color: white;
	padding-bottom: 5%;
	margin-bottom: 5%;
}

section .container .container h2 {
	text-align: center;
}

.form .container {
	background-color: white;
}

.login-form {
	margin-top: 200px;
	margin-bottom: 200px;
}

.login-form .container {
	background-color: white;
}

.busqueda {
	margin-top: 5%;
}

footer .container {
	background-color: none;
}

.form-header {
	text-align: center;
	color: #263238; 
	padding-bottom: 3px;
	border-bottom: 1px solid #263238;
}

.form-header h4 {
	text-transform: uppercase;
}

.form-header h4,p {
	
}

form .btn {
	margin-top: 2px;
}