html {
	height: 100%;
}

body {
	background-color: #f44336;
	min-height: 100%;
}

* {
	font-family:'Roboto';
}

nav .nav-wrapper a img {
	border-style: solid;
	border-width: 3px;	
	border-color: #263238;
	margin-left: 2px; 
}

nav .nav-wrapper {

}

.card {
	height: 600px;
}

.card img {
	width: 400px;
	height: 400px;
}

.container {
	/*0 5px 11px 0 rgba(0, 0, 0, 0.18)*/
}

section .container {
	padding: 2%;
	margin-top: 5%;
	background-color: none;
}

section .container .row .input-field {
	color: #2BBBAD;
	padding-left: 5%;
	padding-right: 5%;
}

section .container. .row 
.button-collapse .mdi-navigation-menu {
	min-height: 100%;

}

section .container .container {
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 5%;
	margin-bottom: 5%;
	box-shadow: 0 5px 11px 0;
}

section .container .container #search {
	background-color: none;
}

section .container .container h2 {
	text-align: center;
	color: #263238;
}

section .container .container p{
	font-weight: bold;
	text-align: center;
}

.register-form .container {
	background-color: white;
	margin-bottom: 5%;
	margin-top: 10%;
}

.login-form {
	margin-top: 200px;
	margin-bottom: 200px;
}

.login-form .container {
	background-color: white;
}

.busqueda {
	margin-top: 5%;
}

.form-header {
	text-align: center;
	color: #263238; 
	padding-bottom: 3px;
	border-bottom: 1px solid #263238;
}

.form-header h4 {
	text-transform: uppercase;
}

.form-header h4,p {
	
}

form .btn {
	margin-top: 2px;
}

footer .container {
	background-color: none;
}