html {
	height: 100%;
}

body {
	background-color: #f44336;
	min-height: 100%;
}

* {
	font-family:'Roboto';
}

.card {
	height: 600px;
}

.card img {
	width: 400px;
	height: 350px;
}

.container {
}

section .container {
	padding: 2%;
	margin-top: 5%;
	background-color: none;
}

section .container.form-container {
	box-shadow: 0 5px 11px 0;
}

section .container .row .input-field {
	color: #2BBBAD;
	padding-left: 5%;
	padding-right: 5%;
}

section .container. .row 
.button-collapse .mdi-navigation-menu {
	min-height: 100%;

}

section .container .container {
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 5%;
	margin-bottom: 5%;
	box-shadow: 0 5px 11px 0;
}

section .container .container #search {
	background-color: none;
}

section .container .container h2 {
	text-align: center;
	color: #263238;
}

section .container .container p{
	font-weight: bold;
	text-align: center;
}

.register-form .container {
	background-color: white;
	margin-bottom: 5%;
	margin-top: 10%;
}

#register-result {
	background-color: white;
	text-align: center;
	box-shadow: 0 5px 11px 0;
	padding: 5%;
	margin-top: 10%;
	margin-bottom: 5%;
}

#register-result a {
	background-color: #2BBBAD;
}

.login-form {
	margin-top: 200px;
	margin-bottom: 200px;
}

.login-form .container {
	background-color: white;
}

.busqueda {
	margin-top: 5%;
}

.form-header {
	text-align: center;
	color: #263238; 
	padding-bottom: 3px;
	border-bottom: 1px solid #263238;
}

.form-header h4 {
	text-transform: uppercase;
}

.form-header h4,p {
	
}

label {
	margin-left: 4%;
}

form .btn {
	margin-top: 2px;
}

footer .container {
	background-color: none;
}

.form-submit {
	margin-right: 3%;
}


.text-hint {
	
}

.text-hint.error {
	color: red;
}

.text-hint.warning {
	color: #EDB140;
}

.container.search-result {
	background-color: none;
	padding: 5%;
	margin-top: 5%;
	text-align: center;
}

.container.search-result .row {
	margin-top: 5%;
}

#search-result-title {
	margin: 5%;
}

#search-result-title h4 {
	color: white;
}

/*
span {
  border-radius: 5px;
  display: block;
  font-size: 1em;
  text-align: center;
  position: absolute;
  background: #2F558E;
  left: 103%;
  top: 25px;
  width: 160px;
  padding: 7px 10px;
  color: #fff;
}

span:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #2F558E;
  border-width: 8px;
  margin-top: -8px;
}
*/